.navbar {
    height: 30px;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #111;
    z-index: 10;
}

.nav_logo {
    width: 120px;
    object-fit: contain;
}

/* Media Queries */

@media (max-width:425px) {
    .nav_logo {
        max-width: 100px;
    }
}